.skills__blockwrapper {
    display: flex;
    justify-content: space-around;
}



.skills__block {
    max-width: 30%;
    display: flex;
}
        
        

.skills__block_html{
    
    
}

/* Начало внутри блока */

.skill__blockicon {
    height: 50px;
    width: 50; 
    background-image: url();
}
    

.skill__htmlicon {
    
}

 
.skill__cssicon {
    
}


.skill__blockhead {
    
}


.textblock {}

