$button-color: blue;
$line-color: grey;
$button-size: 36px;
$basic-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
$button-border: 2px solid $button-color;
$line-border: 2px solid $line-color;

$illuminating: #F5DF4D;
$ultimategray: #939597;
$maxdark: darken($ultimategray, 50%);
$maxlight: lighten($ultimategray, 25%);

$h2fontsize: 24px;


/**********************************/


@import 'reset.scss';
@import 'fonts.scss';
//  @import 'slick.scss';
//  @import 'slick-theme.scss';
@import 'certificate.scss';
@import 'acc.scss';
@import 'skills.scss';
@import 'myform.scss';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}





p {
    padding: 6px 0;
}

/* Начало оформление отдельных элементов */


.aboutme {
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../img/aboutmeq.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: darken($ultimategray, 12.5) !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: left;
}

.aboutme__titleblock {
    text-align: right;
    margin-bottom: 10vh;
}

.aboutme__title {
    padding: 18px 0px;
    font-family: $head-font, sans-serif;
    font-size: 42px;
    line-height: 1.2;
    /*font-weight: bold;*/
    text-transform: uppercase;
    line-height: 1.25;
}

.aboutme__iam {
    text-transform: uppercase;
    font-size: 18px;
    color: $maxlight;
    padding-bottom: 36px;
}

.mysign {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 0 !important;
    padding: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.mysign__path {
    fill: $maxlight;
}

.textblock {
    padding: 0.5*$button-size 0px;
    width: 100%;
    box-sizing: border-box;
}

.mylist {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

.mypages__wrapper {
    display: flex;
    width: 100%;
}

.mypages__textcol {
    width: 60%;
    padding-right: 24px;
}

.mypages {
    /*display: flex;
    justify-content: center;*/

}

.mypages__iconcol {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.mypages__iconwrapper {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mypages__icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
}

.mypages__icon_pdf {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='undefined'%3E%3Cstyle%3E .a%7B fill:%23C30B15; %7D .b%7B fill:%2385080E; %7D .c%7B fill:%23FFF; %7D .d%7B fill:%23E8E6E6; %7D .e%7B fill:%23FC0F1A; %7D%0A%3C/style%3E%3Cpath d='M511.3 274.3C511.8 268.2 512 262.1 512 256 512 114.6 397.4 0 256 0S0 114.6 0 256c0 117.8 79.5 216.9 187.8 246.8L511.3 274.3z' class='a'/%3E%3Cpath d='M511.3 274.3L315 77.9 119.1 434.1l68.7 68.7C209.5 508.8 232.4 512 256 512 391.2 512 502 407.1 511.3 274.3z' class='b'/%3E%3Cpolygon points='278.3 333.9 255.7 77.9 119.1 77.9 119.1 311.7 ' class='c'/%3E%3Cpolygon points='392.9 311.7 392.9 155.8 337.3 133.6 315 77.9 255.7 77.9 256.1 333.9 ' class='d'/%3E%3Cpolygon points='315 155.8 315 77.9 392.9 155.8 ' class='c'/%3E%3Crect x='119.1' y='311.7' width='273.8' height='122.4' class='e'/%3E%3Cpath d='M204.9 346.4c13.5 0 21.3 6.7 21.3 18.5 0 12.4-7.8 19.6-21.3 19.6h-9.6v14.9h-13.5v-53L204.9 346.4 204.9 346.4zM195.3 373.9h8.9c5.9 0 9.3-3 9.3-8.6 0-5.5-3.4-8.3-9.3-8.3h-8.9V373.9z' class='c'/%3E%3Cpath d='M257.9 346.4c16.6 0 28.2 10.7 28.2 26.5 0 15.7-11.7 26.5-28.7 26.5h-22.2v-53H257.9zM248.6 388.6h9.6c8.2 0 14.2-6.4 14.2-15.7 0-9.4-6.2-15.8-14.8-15.8h-9V388.6z' class='c'/%3E%3Cpath d='M308.6 357v12.3h23.8v10.6h-23.8v19.5h-13.5v-53h39.3v10.6h-25.8V357z' class='c'/%3E%3C/svg%3E");
}

.mypages__icon_in {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='128' viewBox='0 0 128 128' width='128' class='undefined'%3E%3Cstyle%3E .a%7B fill:%230076B4; %7D .b%7B fill:%23FFF; %7D%0A%3C/style%3E%3Ccircle cx='64' cy='64' r='64' class='a'/%3E%3Cpath d='M44 96H29V48h15V96zM37 41c-5 0-9-4-9-9 0-5 4-9 9-9 5 0 9 4 9 9C45 37 41 41 37 41zM100 96H85V73c0-6 0-13-8-13 -8 0-9 6-9 12v24H53V48H68v7h0c2-4 7-8 14-8 15 0 18 10 18 23L100 96 100 96z' class='b'/%3E%3C/svg%3E");
}

.mypages__icon_hh {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='267' height='267' viewBox='0 0 267 267' class='undefined'%3E%3Cstyle%3E .a%7B fill:%23e20019; %7D .b%7B fill:%23fff; font-variation-settings:normal; stop-color:%23000; vector-effect:none; %7D%0A%3C/style%3E%3Cellipse cx='132' cy='132' rx='132' ry='132' class='a'/%3E%3Cpath d='m53 71h22v46c0 0 13-17 31-12 21 5 21 22 21 38v45h-21c0 0 0-31 0-46 0-14-6-26-21-20-5 2-10 8-10 26 0 13 0 24 0 40-13 0-22 0-22 0z' class='b'/%3E%3Cpath d='m137 71h22v46c0 0 13-17 31-12 21 5 21 22 21 38v45h-21c0 0 0-31 0-46 0-14-6-26-21-20-5 2-10 8-10 26 0 13 0 24 0 40-13 0-22 0-22 0z' class='b'/%3E%3C/svg%3E");
}







/* Конец оформление отдельных элементов */


/**********************************/

@mixin desktop {
    @media screen and (min-width: 1380px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 1000px) and (max-width: 1379px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 700px) and (max-width: 999px) {
        @content;
    }
}

@mixin smart {
    @media screen and (min-width: 360px) and (max-width: 699px) {
        @content;
    }
}

/***   NEW GRID AREAS start  ***/

.aboutme {
    grid-area: a;
}

header {
    grid-area: h;
}

.mainarea {
    grid-area: m;
}

footer {
    grid-area: f;
}


.inner {
    background-image: linear-gradient(90deg, $maxdark, $maxlight);

    @include desktop {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 100vh 2fr;
        grid-template-areas:
            "h a f"
            "h m f";
    }

    @include laptop {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "h a"
            "h f"
            "h m";
    }

    @include tablet {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: "h"
            "a"
            "f"
            "m";
    }

    @include smart {
        box-sizing: border-box;
        display: grid;
        grid-template-areas:
            "h"
            "a"
            "f"
            "m";
    }
}


/***   NEW GRID AREAS end  ***/





/*ГЛОБАЛЬНАЯ РАЗМЕТКА: ЦВЕТА И ОФОРМЛЕНИЕ */



header {
    box-sizing: border-box;
    
    @include tablet {
        display: flex;
        align-items: center;
    }

    @include smart {
        display: flex;
        align-items: center;
    }
}

.mainarea {
    color: black;
    box-sizing: border-box;

    @include desktop {
        min-height: 300px;
    }
}

footer {
    box-sizing: border-box;
}

.mainarea__spacewrapper {
    padding: 48px 60px;
    max-width: 100%;
}

nav {
    @include desktop {
        min-height: 100vh;
    }

    @include laptop {
        min-height: 100vh;
    }
}

/***   MATERIALS start   ***/

.paper {
    background-color: lighten($maxlight, 12.5%);
    color: $maxdark;
}

.darkpaper {
    background-color: rgba(lighten($maxlight, 12.5%), 0.875);
    color: $maxdark;
}

.glass {
    /*background-color: $maxdark;*/
    color: lighten($maxlight, 12.5%);
    background-color: rgba(black, 0.25);
    border-left: 1px solid $maxdark;
}

.lightaccent {
    color: $illuminating;
    font-weight: bold;
}

/***   MATERIALS end   ***/

h2 {
    padding-bottom: 20px;
    font-family: $head-font, sans-serif;
    font-size: 2*$h2fontsize;
    /*font-weight: bold;*/
    padding: 3px 0px;
    color: #1c1c1c;
    border-bottom: 2px solid #1c1c1c;
    /*margin-top: 40px;*/
    margin-bottom: 12px;
    text-transform: uppercase;
}


.head2__wrapper {
    height: 120px;
    padding-top: 90px;
    box-sizing: border-box;
}

.head2__linemaker {
    /*height: $button-size;*/
    border-bottom: 2px solid $illuminating;
    position: relative;
    z-index: 2;

}

.head2__iconblock {
    background-color: $illuminating;
    width: 90px;
    height: 90px;
    font-family: $head-font, sans-serif;
    font-size: 1.75*$h2fontsize;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 24px;
    padding-bottom: 18px;
    position: absolute;
    bottom: -18px;
    left: -24px;
    z-index: 1;

}


footer h2 {
    color: white;
    margin-top: 12px;
    border-bottom: 2px solid white;

}

h3 {
    padding-bottom: 20px;
    font-family: $head-font, sans-serif;
    font-size: 1.2rem;
}


/*** HEADER ***/

.header__stickywrapper {

    color: white;
    box-sizing: border-box;

    @include desktop {
        position: sticky;
        top: 0px;
    }

    @include laptop {
        position: sticky;
        top: 0px;
    }

    @include tablet {
        position: sticky;
        top: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    @include smart {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-content: center;
    }
}


.globalnav {

    @include desktop {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /*font-family: $head-font, sans-serif;
        letter-spacing: 1px;*/
        pagging-right: 24px;
    }  
    
    @include laptop {
        width: 100%;
        /*min-height: 100vh;  ПЕРЕНЕСЕН В ДЕСКТОПЫ */
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $head-font, sans-serif;
        font-size: 1.8rem;
        
    }
    
    @include smart {    
        display: block;
    }
}


.global__link {
    text-decoration: none;
    color: $maxlight;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 20px;
    font-family: $head-font, sans-serif;

    &:hover {
        color: white;
        text-shadow: 1px 1px 10px $illuminating;
    }

    @include desktop {

        border-right: 2px solid rgba(black, 0);
        font-family: $head-font, sans-serif;
        display: block;
        text-align: right;
        padding: 10px 24px;

        &:hover {
            border-right: 2px solid $illuminating;
        }
    }

    @include laptop {

        border-right: 2px solid rgba(black, 0);
        display: block;
        text-align: right;
        padding: 10px 20px;

        &:hover {
            border-right: 5px solid $illuminating;
        }
    }

    @include tablet {

        border-bottom: 2px solid rgba(black, 0);
        text-align: center;
        padding: 10px 5px;
        display: inline-block;

        &:hover {
            border-bottom: 2px solid $illuminating;
        }
    }

    @include smart {
        display: block;
        border-bottom: 2px solid rgba(black, 0);
        text-align: center;
        width: 100%;

        &:hover {
            border-bottom: 2px solid $illuminating;
        }
    }
}


.globalnav ul {
    @include desktop {
        width: 100%;
        padding-right: 24px;
    }
    
    @include smart {
        width: 100%;
        padding-right: 24px;
    }
    
}





/* начало планшет*/

@media screen and (min-width: 800px) and (max-width: 999px) {

    .globalnav li {
        display: inline-block;
        padding: 5px;
    }

}

/* конец планшет */


/* начало смартфон*/

@media screen and (max-width: 799px) {




    .globalnav li {
        display: inline-block;
        padding: 5px;
        width: 100%;
    }
    
    .globalnav ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }

}


/* конец смартфон*/



/* MAIN */

p a {
    text-decoration-style: underline;
    color: black;
}

p a:hover {
    text-decoration-style: underline;
    color: black;
    display: inline-block;
    background-color: springgreen;
    border-radius: 5px;
}

table {
    width: 100%;
    vertical-align: center;
}

th {
    background-color: darkgrey;
    line-height: 90px;
    width: 50%;
    border: 3px solid darkgrey;
}

td {
    background-color: white;
    height: 90px;
    width: 50%;
    text-align: center;
    vertical-align: center !important;
    border-collapse: collapse;
    border: 3px solid darkgrey;
}

.main__notecont ul {
    padding-left: 20px;
    /*padding: 10px 0;*/
}

.main__notecont p {
    padding: 10px 0px;
}


/*конец: переделать под контекстую навигацию*/

.chapter {
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgrey;
}

.skills {
    /*background-color: white;*/
}

.maintitle {
    font-family: $head-font, sans-serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 12px springgreen;
    padding-bottom: 20px;
    padding-top: 20px;
}

/********** FOOTER **********/


.footer__stickywrapper {
    box-sizing: border-box;
    /*background-color: yellowgreen;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__1stcontainer {
    box-sizing: border-box;
    padding: 20px;
    background-color: grey;
    color: white;
}

.footer__2ndcontainer {
    box-sizing: border-box;
    padding: 0.5*$button-size 60px;
    /*background-color: darkslategrey;*/
    /*color: white;*/
    width: 100%;
}

.footer__blockhead {
    padding-bottom: 20px;
    font-family: $head-font, sans-serif;
    font-size: $h2fontsize;
    padding: 3px 0px;
    color: $maxdark;
    border-bottom: 2px solid #1c1c1c;
    /*margin-top: 40px;*/
    margin-bottom: 12px;
    text-transform: uppercase;

}





@media screen and (min-width: 1380px) {

    .footer__stickywrapper {
        position: sticky;
        top: 0px;
        height: 100vh;
    }

    .footer__1stcontainer {
        height: 50vh;
    }

    .footer__2ndcontainer {
        /*height: 50vh;*/
    }
}

/*--------- footer */


/********** меню сервисной навигации */

.servnav__block {
    display: inline-block;
    padding: 20px 0px;
}

.servnav__link {
    display: inline-block;
    box-sizing: border-box;
    color: lightgray;
    text-decoration: none;
    border-bottom: 1px dashed darkslategrey;
    text-align: left;
    padding: 5px 0;
}

.servnav__link:hover {
    color: springgreen;
    text-decoration: none;
    border-bottom: 1px dashed springgreen;
    text-align: left;
}

/********** меню контектной навигации */

.contextlink {
    color: black;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px dashed grey;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px 0px 0px -5px;
}

.contextlink:hover {
    background-color: springgreen;
    border: 1px dashed grey;
}


/*--------- меню контектной навигации */

.current {
    font-weight: bold;
    color: springgreen;
    border-bottom: 1px dashed grey;
}